<!--<button (click)="downloadFile(10002)">Télécharger le fichier</button>-->
<!--<button (click)="viewFile(10002)">Afficher le fichier</button>-->
<!--<button (click)="viewFileInIframe(10002)">Afficher sur Iframe </button>-->
<!--<iframe *ngIf="fileUrl" [src]="fileUrl" width="100%" height="600px"></iframe>-->


<mat-tab-group>
    <mat-tab label="Immatriculation.">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti distinctio eos illo ipsum
            nesciunt, nostrum quia quo recusandae repellat sequi temporibus vitae voluptatum? Blanditiis eos illo
            provident quo ullam.
        </div>
        <div>A ad adipisci, alias blanditiis ea eum excepturi fuga fugiat illum in iusto laborum molestias natus,
            nesciunt numquam odio porro quidem quod quos ratione reiciendis repellat repudiandae sed unde voluptas.
        </div>
        <div>Adipisci esse hic molestiae perferendis quidem repellendus soluta voluptatem. Aspernatur corporis dolorum
            laborum laudantium maiores minima neque veniam? A accusamus culpa earum facere libero quaerat quibusdam
            reiciendis repellat tenetur ullam?
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <ng-container *ngFor="let title of displayedColumns" [matColumnDef]="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ title }}</th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element[title] }}
                        </span>
                        <div class="d-flex" *ngIf="element[title] == null || element[title] == '' ">
                            <button mat-icon-button
                                    matTooltip="Télécharger!"
                                    aria-label="Boutton Pour télécharger"
                                    matTooltipPosition="above"
                                    (click)="downloadFile(element.id)">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button
                                    matTooltip="Visualiser !"
                                    aria-label="Boutton Pour Visualiser"
                                    matTooltipPosition="above"
                                    (click)="viewFile(element.id)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button (click)="viewFileInIframe(element.id)">
                                <mat-icon>open_in_browser</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>


                <!-- Ajout de la colonne d'actions -->
<!--                <ng-container matColumnDef="actions">-->
<!--                    <th mat-header-cell *matHeaderCellDef>Actions</th>-->
<!--                    <td mat-cell *matCellDef="let element">-->
<!--                        <button mat-icon-button (click)="downloadFile(element.id)">-->
<!--                            <mat-icon>download</mat-icon>-->
<!--                        </button>-->
<!--                        <button mat-icon-button (click)="viewFile(element.id)">-->
<!--                            <mat-icon>visibility</mat-icon>-->
<!--                        </button>-->
<!--                        <button mat-icon-button (click)="viewFileInIframe(element.id)">-->
<!--                            <mat-icon>open_in_browser</mat-icon>-->
<!--                        </button>-->
<!--                    </td>-->
<!--                </ng-container>-->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>


    </mat-tab>
    <mat-tab label="Second">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque blanditiis consequatur dolore
            dolorum eveniet ipsam ipsum, iste iure maxime nemo provident quaerat quia repellendus rerum tempora velit
            veritatis voluptatibus.
        </div>
        <div>Amet blanditiis dignissimos dolorem est harum illo impedit iusto maiores maxime, molestias nulla
            perspiciatis, porro possimus quae quas quasi tempore. Doloribus ducimus, eum laudantium libero minima quae
            quo saepe sint.
        </div>
    </mat-tab>
</mat-tab-group>
