<!--<style>-->
<!--    .n-header{-->
<!--        background: #414D94;-->
<!--        /*bg-light*/-->
<!--    }-->
<!--</style>-->
<header class=" n-headers" style="background: #3A56FD;">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand bg-black py-1 px-3 rounded-2 ">
                <img ngSrc="n-css-logo.svg" i18n-alt="@@app.title" alt="CSSConge" width="40" height="40" class="d-inline-block align-top">
                <span class="ps-1" i18n="@@app.title" style="color: aliceblue; font-weight: bold">C S S</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a routerLink="/" class="nav-link" i18n="@@navigation.home">Home</a>
                    </li>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false" i18n="@@navigation.entities">Entities</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/salariers" class="dropdown-item" i18n="@@salarier.list.headline">Salariers</a></li>
                            <li><a routerLink="/sites" class="dropdown-item" i18n="@@site.list.headline">Sites</a></li>
                            <li><a routerLink="/dossiers" class="dropdown-item" i18n="@@dossier.list.headline">Dossiers</a></li>
                            <li><a routerLink="/demandeConges" class="dropdown-item" i18n="@@demandeConge.list.headline">Demande Conges</a></li>
                            <li><a routerLink="/salarierInfo/info" class="dropdown-item" i18n="@@demandeConge.list.headline">Conges Info</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
