
<!--
<div id="carouselExampleDark" class="carousel carousel-dark slide n-bg">
    <div class="carousel-indicators">
        <div class="border border-1 rounded-3 mb-3">
            <form [formGroup]="getUserForm" (ngSubmit)="handleSubmit()" class="d-flex align-items-center justify-content-center n-banner-form" >
                <div class="mb-3 d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <label for="NIN" class="form-label" style="color: aliceblue; font-weight: bold">NUMERO DE CARTE D'IDENTITE OU NUMERO D'AFFILIATION</label>
                        <input formControlName="nin"  type="text" class="form-control NIN" id="NIN" aria-describedby="NINHelp">
                        <div id="NINHelp" class="form-text">Vous devez entrer ici votre numéro de carte d'identité national.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary border border-black ">Verifier</button>
                    </div>
                    <div>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>

-->
    <main>
        <div id="image-section" class="n-content-gauche">

            <nav id="social-media">
                <ul>
                    <li >
                        <a href="https://online.secusociale.sn/cssipreslanding/#/" target="_blank"><i class="bi bi-globe"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/p/Caisse-de-Sécurité-Sociale-du-Sénégal-100091422074413/" target="_blank"><i class="bi bi-facebook"></i></a>
                    </li>
<!--                    <li>-->
<!--                        <a href="#" target="_blank"><i class="bi bi-2-square-fill"></i></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" target="_blank"><i class="bi bi-3-circle"></i></a>-->
<!--                    </li>-->
                </ul>
            </nav>

            <img class="header-image" src="" ngSrc="css-img2.png" width="600" height="500" alt="a business">
        </div>
        <div id="content" class="n-content-droite">
            <div id="contentnav">
                <!--
                <nav id="navmenu">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Info</a>
                        </li>
                        <li>
                            <a href="#">Offer</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                -->

<!--                <img class="logo" src="https://github.com/malunaridev/Landing-Pages-Are-Fun/blob/master/1-business-agency-concept/assets/logo.png?raw=true" alt="geometric logotype">-->
            </div>
            <div id="content-text">
                <h1>Congés de <br>Maternité</h1>
                <h2>
                    <!--
                    Bienvenu sur la plateforme <br>
                    Dedier aux conges de maternité <br> <br>
                    -->

                    Entrez les informations<br>
                    Pour faire une demande<br><br>
                </h2>
                <form class="d-flex flex-column gap-3" [formGroup]="getUserForm" (ngSubmit)="handleSubmit()" >
                    <label class="label-NIN-V2">CIN OU NUMERO D'AFFILIATION</label>
                    <input formControlName="nin"  type="text" class="form-control NIN-V2" id="NIN" aria-describedby="NINHelp">

                    <label class="label-EMP-V2">NUMERO D'EMPLOYEUR</label>
                    <input type="text" class="form-control EMP-V2" id="" aria-describedby="NINHelp">
<!--                    <button>Demander</button>-->
                    <button type="submit" class=" ">Demander</button>
                </form>

            </div>
            <div id="footer">
                <div id="contacts">
                    <div id="phone">
                        <br>
                        Pour plus d'info appeler au <br><br>
                        <span>+221 33 889 19 89</span>
                    </div>

                    <div id="adress">
                        Siège Sociale <br>
                        Place de l'OIT -<span> BP 102</span><br>
                        Dakar
                    </div>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
        </div>
    </main>
<footer class="cd__credit">Author: Malunari - Distributed By: <a title="Free web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>
